.about-section {
  padding: 20px;
  text-align:center;
}
.mission-vision-section {
  background-color: #f4f4f4;
  padding: 20px;
    text-align:center;
}
.sendb{
	color:#006CA5;
}
#about{
  color:#006CA5;
  /* !important; */
}
#our{
  color:#006CA5;
  /* important; */
}
.team-member {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
    flex-direction: column;
    align-items: center;
}
.team-member img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}
.member-info {
    margin-top: 15px;
}
