#cart-container{
    padding: 13px 50px;
}
.product-info button {
    background-color: #d77d10;
}
.product-info button:hover {
    background-color: #d80940;
}
.product-item {
    position: relative;
}
.quantity {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 20px;
    aspect-ratio: 1/1;
}
