#cart-container{
    padding: 13px 50px;
}
#cart-content {
    color: black;
}
.product-item {
    position: relative;
}
.remove-from-cart-btn {
    background-color: #d77d10;
    border: none;
    color: var(--primary);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: .5s;
}
.remove-from-cart-btn:hover {
    background-color: #d80940;
}
.quantity {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 20px;
    aspect-ratio: 1/1;
}
